
input{
  border-radius: 5px;
}
html{
  height: 100%;
}
body{
  font-family: 'Lato', sans-serif;
  margin: 0;
  height: 100%;
}
header{
  width: 100%;
  display: flex;
  flex-direction: column;
}
h1{
}
h2{
  margin: 20px 50px 2px 30px;
  font-size: 1.5em;
  color: black;
}
h3{
  margin: 0 5px 0 5px;
  color: black;
  text-decoration-color: black;
  align-self: center;
}
h4{
  color: black;
  margin: 5px 5px 5px 10px;
}
a h4:hover{
  color: #00A19B;
}
h5{
  color: grey;
  margin: 0 2px 0 2px;
}
h5:hover{
  color: #00A19B;
}
h6{
  margin: 5px 5px 2px 5px;
  font-size: 1em;
}
.active-bread{
  color: black;
}
.info-block,  h6{
  margin-left: 10px;
  margin-top: 0px;
}
p{
  margin: 5px;
  word-wrap: normal:
}
button{
  margin: 0;
  width: 100%;
  height: 100%;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: black;
}
a:link{
  text-decoration: none;
}
a:visited{

}
h3 a:hover{
  color: #00a19b;
}
a:active{
  color: blue;
}
nav{
  display: flex;
  flex-direction: row;
}
.top-header{
  align-items: center;
  padding: 10px 1% 10px 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-kedu{
}
.user-block{
  height: 60px;
  width: 120px;
  background-image: url(../images/placeholder-profile.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.path-listing{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2% 0 2%;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  background-color: #F1F1F2;
}
.path-listing-shade{
}

.main-section{
  height: 80%;
  display: flex;
  flex-direction: row;
}
.desktop{
  height: 100%;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex: 6;
  background-color: #F1F1F2;
  margin: 2% 2% 0 2%;
}
.conf-bar{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35px;
  background-color: #F1F1F2;
  border-radius: 10px;
  border-bottom: 1px solid grey;
}
.information-tablet{
  padding-top: 10px;
  margin-right: 2%;
  display: flex;
  min-width: 200px;
  flex: 1;
  flex-direction: column;
  background-color: #F1F1F2;
  background: linear-gradient(#F1F1F2, #216393);
  height: 100%;
}
footer{
  width: 100%;
  height: 10%;
  background-color: #216393;
}


.desk-field{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: linear-gradient(#F1F1F2, #216393);
}
.conf-block{
  display: flex;
  margin: 5px 10px 5px 10px;
}
.search-field{
  width: 180px;
}
.conf-button{
  align-self: center;
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 0 5px 0 5px;
  height: 25px;
}
.conf-bar-logo{
  height: 25px;
  width: 27px;
  margin: 0 0 0 0;
  background-color: rgba(240, 240, 240, 0.5);
}
#search-logo{
  background-image: url("../images/magnifying-glass.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.active-nav{
  text-decoration: underline;
}

.info-block img{
  align-self: center;
  width: 150px;
  height: 150px;
}

.info-block, .forum-block-front{
  overflow: hidden;
  flex-direction: column;
  display: flex;
  margin: 10px 10px 0 10px;
  min-width: 100px;
  max-height: 200px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid lightgrey;
}
.info-block p, .forum-block-front p{
  color: grey;
}
.info-block:hover, .forum-block-front:hover{
  border-color: #00A19B;
}
.info-block:hover h6{
  color: #00a19b;
}
.forum-block:hover h6, .forum-block-front:hover h6{
  color: #044C7F
}
.info-block:hover p, .forum-block-front:hover p{
  color: black;
}
.local-block{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 10px;
}
a:active{
  color: blue;
}
button{
  background-color: white;
  border: 2px solid #216393;
  border-radius: 5px;
}
button h5{
  color: #216393;
}
button:default{
  border: none;
}
button:active{
  width: -5px;
}
button:hover, button:hover h5{
  border-color: #00a19b;
  background-color: lightgrey;
  color: #00a19b;
}
.local-info-breaker{
  display: flex;
  width: 10px;
  background-color: rgba(0, 50, 0, 0);
}
.local-info-block1{
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 30;
  background-color: white;
}
.local-info-block{
  display: flex;
  flex-direction: column;
  flex-grow: 90;
  background-color: white;
}




.active-subsite, .active-subsite h5{
  background-color: #216393;
  color: white;
  border-color: black;
}
.forum-block, .forum-block-open{
  display: flex;
}
.forum-block-open{
  background-color: rgba(255, 255, 255, 0.5);
  flex-direction: column;
  border-bottom: 1px solid black;
}
.forum-block-open h2{
  margin: 5px 0 10px 20px;
  color: #216393;
}
.forum-block-open p{
  margin-left: 5px;
  margin-right: 5px;
}
.forum-block{
  flex-direction: row;
  border-radius: 5px;
  overflow: hidden;
  background-color: #F1F1F2;
  max-height: 100px;
  border: 2px solid white;
  margin: 5px 5px 0 5px;
  padding: 4px;
}
.forum-block1{
  min-height: 20px;
  margin-left: 2px;
  margin-right: 2px;
}

.flex-wrap{
  display: flex;
  flex-direction: row;
}
.forum-block:hover{
  background-color: lightgrey;
  border-color: #00A19B;
}
.forum-block1 .forum-votes:hover, .forum-block1 .forum-title-and-text:hover, .forum-block1 .forum-block-tag:hover{
  background-color: black;
}
.forum-block h3{
  min-height: 100px;
  align-self: flex-start;
}
.forum-votes{
  display: flex;
  flex-direction: column;
  width: 100px;
}
.width1{
  width: 200px;
  height: 20px;
}
.forum-votes-sub1, .forum-votes-sub2, .forum-votes-sub3{
  display: flex;
  flex-grow: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.forum-votes-sub4, .forum-votes-sub5, .forum-votes-sub6{
  height: 100%;
  flex-grow: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.forum-votes-sub1, .forum-votes-sub4{
  background-image: url(../images/heart.png);
}
.forum-votes-sub2, .forum-votes-sub5{
  background-image: url(../images/arrows.png);
}
.forum-votes-sub3, .forum-votes-sub6{
  background-image: url(../images/share.png);
}
.forum-votes-sub1:hover, .forum-votes-sub2:hover, .forum-votes-sub3:hover{
  background-color: #F1F1F1;
}
.forum-title-and-text{
  display: flex;
  flex-direction: column;
  width: auto;
}
.forum-block-tag{
  width: 50px;
}
.block-img{
  width: 100px;
  height: 100px;
}
.info-sub-block{
  display: flex;
  flex-direction: row;
}



/* NOTE: the java stuffs */


#showModal {
}

.chatBlock, .local-info-block, .local-info-block1{
  margin: 10px 10px 0 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3)
}
.support{
  display: flex;
  align-self: flex-start;
  width: 200px;;
  background-color: white;
  padding: 2px;
  border-radius: 10px;
  border: 1px solid #044C7F;
}
ul {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
  margin: 0;
}

li{
  align-items: flex-end;
  align-self: flex-end;
  width: auto;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  background-color: white;
  padding: 1px;
  margin: 2px;
  border: 1px solid #00A19B;
  border-radius: 10px;
}

.modal-bg {
  bottom: 0;
}

.modal {
  display: flex;
  flex-direction: row;
  bottom: 0;
  padding: 10px;
}

.modal button{
  height: 34px;
  width: auto;
}

.modal button h5{
  display: flex;
  flex-grow: 1
}

.modal input{
  display: flex;
  flex-grow: 10;
  border-radius: 10px;
  height: 30px;
}

#addNote{
  display: flex;
  flex-grow: 1;
}

.example-box{
  display: flex;
  background-color: white;
  margin: 5px;
}

/* NOTE: hej jeg er jakop */

.post-button{
  height: 30px;
}

.modul-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0,0,0, .5);
  display: none;
}

.modul {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

#postText {
height: 500px;
}

#addPost {

}
