.info-block{
  box-shadow: 3px 5px rgba(150, 150, 150, 1);
  overflow: hidden;
  flex-direction: column;
  display: flex;
  margin: 10px 10px 0 10px;
  min-width: 50px;
  max-height: 200px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}
.info-block:hover{
  background-color: lightblue;
}
.local-block{
  flex-grow: 1;
  margin: 10px;
  background-color: white;
}
