

#showModal {
}
.chatBlock{
  margin: 10px 10px 0 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.2)
}



.flex {
  display: flex;
}

.flex.full-height {
  height: 100vh;
}

.flex.row {
  flex-direction: row;
}

/*  flex:1 giver boxes muligheden for at fylde så meget som den kan. med to boxes som har flex: 1 og flex: 2, vil boxene
fylde henholdsvis flex:1 = 1/3  flex: 2 = 2/3*/

ul {
  align-content: flex-end;
  position: absolute;
  flex: 1;
}
li{
  right: 0;
  text-decoration: none;
  list-style: none;
  background-color: white;
  padding: 1px;
  margin: 2px;
  border: 1px solid grey;
  border-radius: 10px;
}
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}


.modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
