
#showModal {
}

.chatBlock{
  margin: 10px 10px 0 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.2)
}

ul {
  padding: 10px;
  flex: 1;
  margin: 0;
}

li{
  right: 0;
  text-decoration: none;
  list-style: none;
  background-color: white;
  padding: 1px;
  margin: 2px;
  border: 1px solid grey;
  border-radius: 10px;
}

.modal-bg {
  bottom: 0;
}

.modal {
  align-items: center;
  display: flex;
  flex-direction: row;
  bottom: 0;
  padding: 10px;
}

.modal button{
  height: 34px;
  width: auto;
}

.modal button h5{
  display: flex;
  flex-grow: 1
}

.modal input{
  display: flex;
  flex-grow: 10;
  border-radius: 10px;
  height: 30px;
}

#addNote{
  display: flex;
  flex-grow: 1;
}
