
html{
  height: 100%;
}
body{
  font-family: 'Lato', sans-serif;
  margin: 0;
  height: 100%;
}
header{
  width: 100%;
  display: flex;
  flex-direction: column;
}
h1{
}
h2{
  margin: 20px 10px 2px 10px;
  font-size: 1.3em;
}
h3{
  margin: 0 5px 0 5px;
  color: black;
  text-decoration-color: black;
  align-self: center;
}
.forum-block:hover h3{
  color: pink;
}
h5{
  color: grey;
  margin: 0;
}
h6{
  margin: 5px 5px 2px 5px;
  font-size: 1em;
}
.local-info-block1 h6{
  font-weight: normal;
  margin-left: 10px;
  margin-top: 0px;
}
p{
  margin: 5px;
  word-wrap: normal:
}
button{
  margin: 0;
  width: 100%;
  height: 100%;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: black;
}
a:link{
  text-decoration: none;
}
a:visited{

}
h3 a:hover{
  color: #00a19b;
}
a:active{
  color: blue;
}
nav{
  display: flex;
  flex-direction: row;
}
.top-header{
  align-items: center;
  padding: 10px 1% 10px 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-kedu{
}
.user-block{
  height: 50px;
  background-image: url(../images/placeholder-profile.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.path-listing{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2% 0 2%;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  background-color: #F1F1F2;
}
.path-listing-shade{
}
h4{
  margin: 5px 5px 5px 10px;
}
.main-section{
  height: 80%;
  display: flex;
  flex-direction: row;
}
.desktop{
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex: 6;
  background-color: #F1F1F2;
  margin: 2% 2% 0 2%;
}
.conf-bar{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35px;
  background-color: #F1F1F2;
  border-radius: 10px;
  border-bottom: 1px solid grey;
}
.information-tablet{
  padding-top: 10px;
  margin-right: 2%;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #F1F1F2;
  height: 100%;
}
footer{
  width: 100%;
  height: 10%;
  background-color: #F1F1F2;
  border-top: solid grey 1px;
}


.desk-field{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: inherit;
}
.conf-block{
  display: flex;
  margin: 5px 10px 5px 10px;
}
.search-field{
  width: 180px;
}
.conf-button{
  align-self: center;
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 0 5px 0 5px;
  height: 25px;
}
.conf-bar-logo{
  height: 25px;
  width: 27px;
  margin: 0 0 0 0;
  background-color: rgba(240, 240, 240, 0.5);
}
#search-logo{
  background-image: url("../images/magnifying-glass.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}



.active-nav{
  color: pink;
  text-decoration: underline;
}
